
services:
  ambari-server:
    image: ambari-custom:latest
    container_name: ambari-server
    command: /sbin/init
    ports:
      - "8080:8080"
    environment:
      - AMBARI_SERVER=true
      - BOOTSTRAP=true
    networks:
      ambari-net:
        ipv4_address: 172.19.0.4
    volumes:
      - ./conf/hosts:/etc/hosts
      - ./ssh_keys/server:/root/.ssh
      - ./ssh_host_keys/server:/etc/ssh
      - ./yum_repos:/etc/yum.repos.d

  ambari-agent1:
    image: ambari-custom:latest
    container_name: ambari-agent1
    command: /sbin/init
    environment:
      - AMBARI_SERVER_HOST=ambari-server
    depends_on:
      - ambari-server
    networks:
      ambari-net:
        ipv4_address: 172.19.0.2
    volumes:
      - ./conf/hosts:/etc/hosts
      - ./ssh_keys/agent1:/root/.ssh
      - ./ssh_host_keys/agent1:/etc/ssh
      - ./yum_repos:/etc/yum.repos.d

  ambari-agent2:
    image: ambari-custom:latest
    container_name: ambari-agent2
    command: /sbin/init
    environment:
      - AMBARI_SERVER_HOST=ambari-server
    depends_on:
      - ambari-server
    networks:
      ambari-net:
        ipv4_address: 172.19.0.3
    volumes:
      - ./conf/hosts:/etc/hosts
      - ./ssh_keys/agent2:/root/.ssh
      - ./ssh_host_keys/agent2:/etc/ssh
      - ./yum_repos:/etc/yum.repos.d

  ambari-agent3:
    image: ambari-custom:latest
    container_name: ambari-agent3
    command: /sbin/init
    environment:
      - AMBARI_SERVER_HOST=ambari-server
    depends_on:
      - ambari-server
    networks:
      ambari-net:
        ipv4_address: 172.19.0.5
    volumes:
      - ./conf/hosts:/etc/hosts
      - ./ssh_keys/agent3:/root/.ssh
      - ./ssh_host_keys/agent3:/etc/ssh
      - ./yum_repos:/etc/yum.repos.d

networks:
  ambari-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.19.0.0/24
